@import "bootstrap";

body {
  background-color: #EEF0F3;
  font-family: "Helvetica Neue";
  .container {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#E9F4FF));
    margin-top: 40px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #D6D8DB;
  }
}

/* Article Index Page */

.articles {
  margin-top: 30px;
  .submitted-by, .comments {
    display: inline;
  }
}
/* Article Show Page */

#article-content {
  margin-top: 30px;
  #article-show-title {
    display: inline;
  }
}
#show-link {
  display: inline;
}

/* User Show Page */

#created {
  display: inline;
}